@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

html{
    box-sizing: border-box;
}

*,*:before,*:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5{
    font-weight: 300;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.4;
    background-color: #f2f2f2;
}

a{
    text-decoration: none;
    color: inherit;
}

.container{
    max-width: 1280px;
    padding: 0 40px;
    margin: 0 auto;
}

.header__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__list{
    display: flex;
    justify-content: space-between;
    min-width: 300px;
    color: inherit;
}

.nav__link{
    font-size: inherit;
    color: inherit;
    padding: 20px;
}

.nav__link:hover{
/*    color: #b29a36;*/
    transition: .2s;
    transform: scale(1.1);
}

.main__header__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main__header__content div{
    flex: 1;
}

.main__title{
    max-width: 500px;
    padding: 0 30px;
}

.main__title h1{
    font-size: 4.5em;
    font-weight: 700;
    text-transform: uppercase;
}

.main__title h3{
    position: relative;
    font-size: 1.625rem;
    line-height: 1.4;
    font-weight: 400;
    padding-bottom: 30px;
    top: -0.2em;
}

.main__title__img__content{
    width: 100%;
    height: 800px;
    background: url(images/lot1.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.main__title p{
    font-size: 20px;
    padding-bottom: 50px;
}

.main__title__img{
    display: flex;
}

.main__title__img:before{
    content: " ";
    display: block;
    background: #f1c50e;
    width: 75px;
     min-height: 100%;
    padding: 30px;
}

.main__button{
    background-color: #f1c50e;
    padding: 10px 50px;
    font-size: inherit;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}

.main__button:hover{
    background-color: #fff;
    transition: .2s;
}


.main__bloc-container{
    width: 100%;
}

.main__bloc-title{
    height: 64em;
    padding: 100px 0;
    position: relative;

}

.main__bloc-image{
    max-width: 57.2em;
}

.main__bloc-image img{
    width: 100%;
    z-index: -1;
}

.crygu{
    position: absolute;
    top: 10em;
    right: 2.2em;
    display: flex;
    flex-direction: column;
    gap: .8em;
}

.crygu__ctroka{
    display: flex;
    gap: 0.8em;
}

.crygu__ctroka span{
    width: 25px;
    height: 25px;
    background-color: #1a1a1a;
    border-radius: 50em;
}

.main__zebra{
    position: absolute;
    right: 0em;
    top: 25em;
    z-index: -2;
    background-image: url(images/zebra.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-width: 600px;
    height: 600px;
}

.main__zebra img{
    width: 100%;
}

.main__bloc-title-inner-blok svg{
    max-width: 44px;
}

.main__bloc-title-inner-svg{
    background-color: #f1c50e;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 88px;
    width: 88px;
    border-radius: 50%;
}

.main__bloc-title-inner-blok{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    background-color: #fff;
    width: 250px;
    height: 200px;
}

.main__bloc-title-inner-container{
    position: absolute;
    right: 2em;
    bottom: 10em;
    max-width: 530px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.main__bloc-title-inner-blok h3{
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.125rem;
    font-weight: 700;
    margin: 23px 0 0 0;
}

.main__container-about{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 60px 0;

}

.main__content-about{
    background-color: inherit;
    position: relative;
}

.main__content-about:after{
    content: "";
    background-color: #292d33;
    width: 50%;
    height: 100%;
    display: block;
    z-index: -1;
    position: absolute;
    top: 0em;
}
.main__container-about div{
    flex-grow: 1;
    flex-basis: 0;
    padding: 30px;
}

.main__about h2{
    font-size: 6rem;
    font-weight: 700;
    color: #f1c50e !important;
}

.main__about p{
    font-size: 1.875rem;
    font-weight: 700;
    margin: 20px 0 0;
    color: #fff;
}

.main__about-text p{
    line-height: 26px;
    font-size: 1.125rem;
}

.main__about-img img{
    width: 100%;
}


.footer_content{
    display: flex;
    align-items: center;
}

.footer_content h2{

    color: #fff;
    padding-left: 10px;
}

.footer__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
        color: #fff;
}

.footer{
    background-color:#1a1a1a;
    padding: 30px 0;
}

.main_ustoru-content{
    padding-top: 100px;
}

.main_ustoru-content h2{
    font-weight: 700;
    font-size: 6rem;
}

.main_ustoru-content p{
    padding-top: 20px;
    text-align: justify;
}

.main_ustoru-content ul{
    padding-left: 25px;
    padding-top: 10px;
}

.main_ustoru-img, .main_ustoru-img2 img{
    width: 100%;
}

.main_ustoru-img2{
    margin: 20px 20px 0 0px;
    flex: 1;
}

.main_ustoru-img{
    margin: 20px 0 0 20px;
    float: right;
    max-width: 40em;
}

.main_ustoru-text_img{
    max-width: 30em;
}

.main_ustoru-p{
    flex: 1;
}

.main_ustoru-text_img{
    max-width: 100%;
    display: flex;
    align-items: center;
}

.main-content-yroku a{
    color: blue;
}

.main-content-yroku{
    padding: 100px 0;
}

.main-content-yroku ol{
    padding: 20px;
}

.main-content-yroku h3{
    font-weight: 700;
    font-size: 2rem;
}

.main-content-yroku li{
    padding-bottom: 5px;
    text-align: justify;
}

.main-content-yroku h2{
    font-weight: 700;
    font-size: 6rem;
}

#1{
    position: absolute;
    top: 20em;
}

.main-content-yroku_img, .main-content-yroku_img1, .main-content-yroku_img2 img{
    width: 100%;
}

.main-content-yroku_img{
    margin: 20px;
    transform: translateY(-7%);
    max-width: 35em;
    float: right;
}

.main-content-yroku_img1{
    margin: 20px;
    transform: translateY(6%);
    max-width: 35em;
    float: right;
}

.main-content-yroku_img2{
    margin: 20px;
    transform: translateY(-7%);
    max-width: 28em;
    float: right;
}
